body {
    background: #f5f6f7;
    color: #000000;
    font-family: Helvetica;
    margin: 0;
  }
header {
    width: 100%;
    height: 195px;
    background-color: #9ADAFE;
    display: flex;
    justify-content:left;
    align-items: center;
    top: 0;
  }

.titulo {
    justify-content: center;
    }
#benitologo {
    width: max(50px, 7vw);
  }